<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
  <link rel="stylesheet" href="style.css">
  <title>Paper</title>
</head>

<body>
<script src="script.js"></script>

<div class="toolbar">
  <div class="toolbar-title">
    Title
  </div>
  <div class="toolbar-left-button">
    <img src="assets/button1.png" alt="⬅" />
  </div>
  <div class="toolbar-left">
    Back
  </div>
</div>

<div class="panel toolbar-spacer shadow">
  <img src="assets/example1.jpg" alt="&nbsp;" />
  <h1>
    Example Heading
  </h1>
  <h2>
    Example Subheading
  </h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>

</body>
</html>
